@charset "UTF-8";

@font-face {
    font-family: Lovelace;
    src: url(Lovelace/Zetafonts\ -\ Lovelace\ Text\ Regular.otf);
    
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    background-color: #69239e;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: Lovelace, Arial, Helvetica, sans-serif;
    font-size: 10vw;
    
}
header > h2{
    padding-bottom: 50px;
    font-size: 2vh;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
    

}

section.normal{
    background-color: white;
    color: black;
}

section.midia{
    background-color: rgb(41, 39, 39);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.137);
    background-attachment: fixed;
    
}

.midia > p{
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.349);
    text-shadow: 1px 1px black;
}

.video{
    background-color: rgb(34, 4, 4);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.137);
    background-attachment: fixed;
    text-align: center;
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
}

.video > p{

    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.349);
    text-shadow: 1px 1px black;
    text-align: justify;

}

#midia1{
    background-image: url(midia/midia1.JPG);
    background-position: right center;
    background-size: cover;
}

#midia2{
    width: 90vw;   
}

#midia3{
    background-image: url(midia/midia3.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia4{
    
    width: 90vw;   
}

#midia5{
    background-image: url(midia/midia5.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia6{
    background-image: url(midia/midia6.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia7{
    background-image: url(midia/midia7.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia8{
    width: 90vw;   
}

#midia9{
    background-image: url(midia/midia9.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia10{
    width: 90vw;   
}

#midia11{
    width: 90vw;   
}

#midia12{
    width: 90vw;   
}

#midia13{
    width: 90vw;   
}

#midia14{
    width: 90vw;   
}

#midia15{
    width: 90vw;   
}

#midia16{
    background-image: url(midia/midia16.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia17{
    background-image: url(midia/midia17.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia18{
    background-image: url(midia/midia18.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia19{
    background-image: url(midia/midia19.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia20{
    background-image: url(midia/midia20.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia21{
    width: 90vw;   
}

#midia22{
    background-image: url(midia/midia22.jpeg);
    background-position: right center;
    background-size: cover;
}

#midia23{
    width: 90vw;   
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}